html {
  margin: 0;
}

h1 {
  color: #9b8567;
}

p {
  font-family: 'Questrial', sans-serif;
}

.services-component {
  font-family: 'Anton', sans-serif;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.background-image-section {
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("./images/tractor-dumpster.jpg") center center;
  background-size: cover;
  height: 100%;
  align-items: center;
}

.footer-component {
  padding: 2em;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}

.footer-component h5 {
  font-family: 'Anton', sans-serif;
  color: #9b8567;
}

.footer-info {
  margin-top: 1em;
}

.footer-info a {
  text-decoration: none;
  color: #9b8567;
  font-weight: 900;
}

.footer-info a:hover {
  text-decoration: none;
  color: grey;
}

.footer-services p {
  margin: 0;
}

#contact-component {
  max-width: 500px;
}


@media (min-width: 40em) {

  .services-component {
    flex-direction: row;
  }
}

@media (min-width: 30em) {
  .footer-component {
    flex-direction: row;
    justify-content: center;
  }
  .footer-info {
    margin-top: 0;
    margin-left: 5em;
  }
}