html {
  margin: 0;
}

.background-image-section {
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("./images/tractor-dumpster.jpg") center center;
  background-size: cover;
  height: 100%;
  align-items: center;
}

.footer-component {
  display: flex;
  flex-direction: column;
}

.footer-info {
  margin-top: 1em;
}

.footer-services p {
  margin: 0;
}

@media (min-width: 30em) {
  .footer-component {
    flex-direction: row;
    justify-content: center;
  }
  .footer-info {
    margin-top: 0;
    margin-left: 5em;
  }
}