.background-image-section {
  background: 
    linear-gradient(rgba(255, 255, 255, 0.25),
  rgba(255, 255, 255, 0.25)),
    url("./images/tractor-dumpster.jpg") center center;
  background-size: cover;
  height: 100%;
  align-items: center;
}



.footer-component {

}